
header {
  height: 100px;
  background-color: #75241c;

  top: 0;
  width: 100%;
}

button {
  margin: auto;
  display: inline;
  width: 25%;
}

body {
  background-color: #ffffff;


}

main {
  margin-top: 150px;
}

.product {
  width: 250px;
  height: 250px;
  display: inline-block;
}

.main {
  width: 960px;
  margin: auto;
}

.results {
  width: 750px;
  height: auto;
  margin: auto;
}



input {
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
